.allheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px 10px;
  background: white;
  border-bottom: 1px solid #c9c7c7;
  position: sticky;
  top: 0;
  z-index: 1000;


}

.logo {
  display: flex;
  align-items: center;
  height: auto;
  width: 150px;
  cursor: pointer;
}


.nav-menu {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-menu li {
  position: relative;
}

.nav-menu a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
}

.nav-menu a:hover {
  color: #f7444e;
}

.nav-menu a.active {
  color: #f7444e;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background: #000;
  transition: 0.3s;
}



/* CSS for Home page */
.hero-heading,
.new-arr-head {
  font-family: 'Playfair Display', serif;
}

.hero-subheading {
  font-family: 'Playfair Display', serif;
}

.hero-text,
.new-arrival-content {
  font-family: 'Poppins', sans-serif;
}


.allbuttons:hover {
  color: #bd2b33;
  background-color: transparent;
}

/* css for login page  */
.card-edit {
  border-radius: 12px;
  border: none;
}

.form-control:focus {
  box-shadow: none;
  border-color: #dc3545;
}

.card-edit:hover {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.new-arrival-row {
  justify-content: flex-end;
}

.new-arrival-content {
  text-align: left;
}


/* responsive */

@media (max-width: 992px) {
  .allheader {
    padding: 15px 25px;
  }

  .menu-toggle {
    display: flex;
  }

  .nav-menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #fff;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    display: none;
    border-top: 1px solid #eee;
  }

  .nav-menu.open {
    display: flex;
  }

  .hero-section {

    background-image: none !important;
    min-height: auto;
    text-align: center;
    background-color: #d6d5d5;
    padding: 30px;
  }

  .rows {
    justify-content: center;
  }

}




@media (max-width: 768px) {


  .header {
    padding: 15px 20px;
  }

  .box {
    margin-top: 10px;
  }

  .logofooter {

    display: none;
  }

  .new-arrival {
    background-image: none !important;
    text-align: center;
    background-color: #d6d5d5;
    padding: 30px;
  }




  .new-arrival-row {
    justify-content: center;
  }

  .new-arrival-content {
    text-align: center;
  }

  .footer {
    text-align: center;
  }


}